name: Release

on:
  # Manual trigger from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: 'ubuntu-24.04'
    steps:
      - name: 'Checkout SDK'
        uses: 'actions/checkout@v6'
        with:
          repository: 'checkra1n/SDK'
          path: 'SDK'
      - name: 'Build SDK'
        working-directory: 'SDK'
        run: './make.sh all-linux-gnu-dev all'
      - name: 'Checkout repository'
        uses: 'actions/checkout@v6'
        with:
          submodules: true
          path: 'ld64'
      - name: 'Compile'
        working-directory: 'ld64'
        env:
          LLVM_CONFIG: 'llvm-config-18'
          ARM64_SDK: '${{ github.workspace }}/SDK/build/arm64-linux-gnu-dev'
          X86_64_SDK: '${{ github.workspace }}/SDK/build/x86_64-linux-gnu-dev'
        run: 'make -j8'
      - name: 'Archive'
        uses: 'actions/upload-artifact@v4'
        with:
          path: |
            'ld64/build/*/ld64'
            'ld64/build/*/*.deb'
